@font-face {
  font-family: segoescript;
  src: url("fonts/segoe-script.ttf");
  src: url("fonts/segoe-script.eot");
  src: url("fonts/segoe-script.woff"); }
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  color: #333;
  font-size: 14px;
  font-family: segoescript;
  background-color: #ccc; }

.container-fluid, .row {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none !important; }

a {
  color: #669933; }
  a:hover, a:active, a:visited {
    color: #568725; }
  a.btn.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65; }

.btn-default {
  border: none;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  width: 100%;
  max-width: 250px;
  background-color: #92C54F;
  color: #333; }
  .btn-default:hover:not(:disabled), .btn-default:active:not(:disabled) {
    background-color: #669933;
    color: #fff; }
  .btn-default:visited {
    color: #333; }
  .btn-default.back, .btn-default.next {
    width: auto;
    margin: 20px 5px 0 0; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 26px; }

.no-padding {
  padding: 0; }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

.navbar-toggler {
  padding-left: 0; }
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #333; }
  .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px; }
  .navbar-toggler:hover .icon-bar, .navbar-toggler:active .icon-bar {
    background-color: #fff; }

.show-nav .icon-bar:nth-of-type(1) {
  transform: rotate(45deg) translate(5px, 4px); }
.show-nav .icon-bar:nth-of-type(2) {
  opacity: 0; }
.show-nav .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg) translate(4px, -4px); }

.dropdown-menu {
  padding: 15px;
  font-size: 14px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
  .dropdown-menu:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: inline-block;
    top: -10px;
    border-style: solid;
    border-width: 0 25px 25px 25px;
    border-color: transparent transparent #ffffff; }

.img-thumbnail {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.amount-controls {
  float: right; }
  .amount-controls .incr, .amount-controls .decr {
    width: 30px;
    height: 30px;
    padding: initial !important;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background-color: #ccc;
    margin-left: 2px; }
    .amount-controls .incr:hover:not(:disabled), .amount-controls .incr:active, .amount-controls .decr:hover:not(:disabled), .amount-controls .decr:active {
      background-color: #b3b3b3; }

/******************************************************************************/
/***** COLORS
/******************************************************************************/
.bg-lgreen {
  background-color: #92C54F; }

.lgreen {
  color: #92C54F; }

.orange {
  color: #F77D1E; }

/******************************************************************************/
/******************************************************************************/
header, footer {
  /*    .decor {
          width: 100%;
          height: 50px;        
          background-repeat: repeat-x; 
          background-position: top center;
          background-size: 70%;
      }*/ }

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%; }
  #site-wrapper #site-canvas {
    background-color: #F7F6E4; }
    #site-wrapper #site-canvas #off-canvas-menu {
      display: none; }
      #site-wrapper #site-canvas #off-canvas-menu .navbar-header {
        position: absolute;
        top: 10px;
        left: 15px;
        z-index: 10000; }
    #site-wrapper #site-canvas header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000; }
      #site-wrapper #site-canvas header .logo {
        display: inline-block;
        max-height: 120px;
        padding: 20px 0; }
      #site-wrapper #site-canvas header .header_controls {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        padding: 20px;
        z-index: 10000; }
        #site-wrapper #site-canvas header .header_controls #user-button, #site-wrapper #site-canvas header .header_controls #cart-button {
          position: relative;
          width: 50px;
          height: 50px;
          padding: 5px 0 0 0;
          background-color: #669933;
          border: 2px solid #fff;
          -webkit-border-radius: 25px;
          border-radius: 25px;
          background-clip: padding-box;
          /* stops bg color from leaking outside the border: */ }
          #site-wrapper #site-canvas header .header_controls #user-button:after, #site-wrapper #site-canvas header .header_controls #cart-button:after {
            display: none; }
          #site-wrapper #site-canvas header .header_controls #user-button:hover, #site-wrapper #site-canvas header .header_controls #user-button:active, #site-wrapper #site-canvas header .header_controls #cart-button:hover, #site-wrapper #site-canvas header .header_controls #cart-button:active {
            background-color: #568725;
            color: #fff; }
          #site-wrapper #site-canvas header .header_controls #user-button i, #site-wrapper #site-canvas header .header_controls #cart-button i {
            font-size: 28px; }
        #site-wrapper #site-canvas header .header_controls #cart-button .badge {
          position: absolute;
          right: -6px;
          bottom: -6px;
          display: inline-block;
          width: 26px;
          height: 26px;
          -webkit-border-radius: 13px;
          border-radius: 13px;
          background-clip: padding-box;
          /* stops bg color from leaking outside the border: */
          background-color: #fff;
          text-align: center;
          overflow: hidden;
          color: #333 !important; }
        #site-wrapper #site-canvas header .header_controls #cart-button.active {
          background-color: #F77D1E; }
        #site-wrapper #site-canvas header .header_controls #cart-button:before {
          content: '';
          position: absolute;
          width: 0;
          background-color: #fff;
          top: 50%;
          left: 50%;
          right: 50%;
          bottom: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background-clip: padding-box;
          /* stops bg color from leaking outside the border: */
          z-index: -1; }
        #site-wrapper #site-canvas header .header_controls #cart-button.added_item:before {
          top: -10%;
          left: -10%;
          right: -10%;
          bottom: -10%;
          width: 120%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background-clip: padding-box;
          /* stops bg color from leaking outside the border: */
          opacity: 0;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
        #site-wrapper #site-canvas header .header_controls .dropdown-menu {
          width: 250px;
          -moz-transform: translate(-150px, 15px);
          -o-transform: translate(-150px, 15px);
          -ms-transform: translate(-150px, 15px);
          -webkit-transform: translate(-150px, 15px);
          transform: translate(-150px, 15px); }
          #site-wrapper #site-canvas header .header_controls .dropdown-menu:before {
            right: 50px; }
          #site-wrapper #site-canvas header .header_controls .dropdown-menu form .form-group {
            margin-top: 25px; }
            #site-wrapper #site-canvas header .header_controls .dropdown-menu form .form-group:first-of-type {
              margin-top: 0; }
            #site-wrapper #site-canvas header .header_controls .dropdown-menu form .form-group label {
              margin-bottom: 0; }
              #site-wrapper #site-canvas header .header_controls .dropdown-menu form .form-group label i {
                font-size: 20px; }
              #site-wrapper #site-canvas header .header_controls .dropdown-menu form .form-group label i, #site-wrapper #site-canvas header .header_controls .dropdown-menu form .form-group label span {
                vertical-align: middle; }
            #site-wrapper #site-canvas header .header_controls .dropdown-menu form .form-group input {
              -webkit-border-radius: 0px;
              border-radius: 0px;
              background-clip: padding-box;
              /* stops bg color from leaking outside the border: */
              border: none;
              padding-left: 0;
              border-bottom: 1px solid #ddd;
              font-size: 12px; }
          #site-wrapper #site-canvas header .header_controls .dropdown-menu form .error {
            position: absolute;
            display: block;
            font-size: 10px;
            color: red; }
            #site-wrapper #site-canvas header .header_controls .dropdown-menu form .error.login-error {
              position: relative;
              margin-bottom: 1em; }
          #site-wrapper #site-canvas header .header_controls .dropdown-menu form .forgot-pwd {
            display: block;
            font-size: 10px;
            margin: 5px 0 5px 15px; }
      #site-wrapper #site-canvas header .header-decor {
        background-image: url("decor/header_decor.png"); }
      #site-wrapper #site-canvas header #main-menu {
        display: block;
        margin-bottom: 10px; }
        #site-wrapper #site-canvas header #main-menu ul li {
          display: inline;
          margin: 0 10px; }
          #site-wrapper #site-canvas header #main-menu ul li a {
            font-size: 18px;
            color: #333;
            position: relative; }
            #site-wrapper #site-canvas header #main-menu ul li a:hover, #site-wrapper #site-canvas header #main-menu ul li a:active {
              color: #fff;
              text-decoration: none; }
          #site-wrapper #site-canvas header #main-menu ul li.active a {
            color: #fff;
            text-decoration: none; }
            #site-wrapper #site-canvas header #main-menu ul li.active a:before {
              background-color: rgba(255, 255, 255, 0.3); }
    #site-wrapper #site-canvas .page {
      min-height: calc(100vh - 150px);
      padding-top: 220px;
      padding-bottom: 40px; }
    #site-wrapper #site-canvas footer {
      z-index: 1000; }
      #site-wrapper #site-canvas footer .bottom-bar {
        padding: 15px 0; }
      #site-wrapper #site-canvas footer .footer-decor {
        background-image: url("decor/footer_decor.png"); }
      #site-wrapper #site-canvas footer img {
        max-width: 200px !important;
        margin-bottom: 15px; }
      #site-wrapper #site-canvas footer #footer_menu li {
        margin-bottom: 5px; }
        #site-wrapper #site-canvas footer #footer_menu li a {
          color: #333;
          text-decoration: none;
          font-size: 14px; }
          #site-wrapper #site-canvas footer #footer_menu li a:hover, #site-wrapper #site-canvas footer #footer_menu li a:active {
            color: #fff; }
        #site-wrapper #site-canvas footer #footer_menu li.active a {
          color: #fff; }
        #site-wrapper #site-canvas footer #footer_menu li:last-of-type {
          margin-bottom: 0; }

/******************************************************************************/
/******************************************************************************/
#category_menu {
  list-style-type: none;
  overflow: hidden;
  padding: 0 0 30px 0; }
  #category_menu li {
    position: relative;
    float: left;
    width: 50%;
    padding-bottom: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    #category_menu li > .bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 1%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      -webkit-transition: background 0.1s ease-in;
      -moz-transition: background 0.1s ease-in;
      -ms-transition: background 0.1s ease-in;
      -o-transition: background 0.1s ease-in;
      transition: background 0.1s ease-in; }
    #category_menu li:first-of-type > .bg {
      background-image: url("decor/mzoldseg.png"); }
    #category_menu li:first-of-type:hover > .bg {
      background-color: rgba(159, 238, 0, 0.3); }
    #category_menu li:nth-of-type(2) > .bg {
      background-image: url("decor/mgyumolcs.png"); }
    #category_menu li:nth-of-type(2):hover > .bg {
      background-color: rgba(255, 133, 0, 0.3); }
    #category_menu li:nth-of-type(3) > .bg {
      background-image: url("decor/mtejtermek.png"); }
    #category_menu li:nth-of-type(3):hover > .bg {
      background-color: rgba(58, 166, 208, 0.3); }
    #category_menu li:nth-of-type(4) > .bg {
      background-image: url("decor/mkamra.png"); }
    #category_menu li:nth-of-type(4):hover > .bg {
      background-color: rgba(153, 38, 103, 0.3); }
    #category_menu li > a {
      outline: none !important; }
      #category_menu li > a span {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 33%;
        font-size: 2vw; }

#labels, #products, #categories {
  list-style-type: none; }

#categories {
  float: right;
  padding-left: 0; }
  #categories .itemcategory {
    float: left;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 2px;
    position: relative;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    #categories .itemcategory:nth-of-type(3) {
      clear: left; }
    #categories .itemcategory a {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      background-color: #ccc;
      color: #333 !important; }
      #categories .itemcategory a span {
        display: block;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 10px; }
      #categories .itemcategory a:hover, #categories .itemcategory a:active {
        background-color: #b3b3b3; }
    #categories .itemcategory.active:first-of-type a {
      background-color: rgba(159, 238, 0, 0.3); }
    #categories .itemcategory.active:nth-of-type(2) a {
      background-color: rgba(255, 133, 0, 0.3); }
    #categories .itemcategory.active:nth-of-type(3) a {
      background-color: rgba(58, 166, 208, 0.3); }
    #categories .itemcategory.active:nth-of-type(4) a {
      background-color: rgba(153, 38, 103, 0.3); }

.labels {
  padding-left: 0; }
  .labels .itemlabel {
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px; }
    .labels .itemlabel:last-of-type {
      margin-right: 0; }
    .labels .itemlabel:hover, .labels .itemlabel:active, .labels .itemlabel.active {
      color: #F77D1E;
      cursor: pointer; }
    .labels .itemlabel.active {
      pointer-events: none;
      cursor: default; }

.filters {
  margin-top: 20px; }
  .filters #region_select, .filters #farm_select {
    -webkit-border-radius: 17px 0 0 17px;
    border-radius: 17px 0 0 17px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    border: 1px solid #333; }
    .filters #region_select:focus, .filters #farm_select:focus {
      border-color: #000; }

#products {
  padding: 20px 0 40px 0; }
  #products .product {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: default;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background-image: url("decor/item-decor.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    overflow: hidden;
    padding: 10px; }
    #products .product .aspect {
      display: block;
      position: relative;
      padding-bottom: 100%; }
      #products .product .aspect .content {
        position: absolute;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 10%;
        right: 10%; }
        #products .product .aspect .content .img-wrapper {
          width: 100%;
          height: 80px;
          position: relative;
          margin-bottom: 5px; }
          #products .product .aspect .content .img-wrapper img {
            max-height: 80px;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
        #products .product .aspect .content a {
          display: block;
          margin-bottom: 5px; }
          #products .product .aspect .content a:hover {
            text-decoration: none; }
        #products .product .aspect .content .price {
          margin-bottom: 5px; }
        #products .product .aspect .content .amount {
          float: right; }
        #products .product .aspect .content .button-wrapper {
          margin-top: 5%; }
          #products .product .aspect .content .button-wrapper .addtocart {
            width: 60%;
            height: 30px;
            padding: 4px 0;
            text-transform: uppercase; }
    #products .product .check {
      position: absolute;
      top: 0;
      right: 0;
      color: #669933;
      display: none; }
    #products .product:hover {
      background-color: #fff;
      background-clip: content-box; }
    #products .product.in_cart {
      background-image: url("decor/item-decor-orng.png"); }
    #products .product.in_cart .check {
      display: block; }

#farms {
  margin-top: 20px; }
  #farms tr td {
    vertical-align: middle; }
    #farms tr td:first-of-type {
      min-width: 120px;
      width: 120px; }
    #farms tr td:last-of-type {
      min-width: 225px; }
    #farms tr td a {
      font-size: 16px; }
      #farms tr td a:hover {
        text-decoration: none; }
    #farms tr td .rating {
      float: right; }
      #farms tr td .rating .number_of_ratings {
        display: inline-block;
        width: 50px; }

.farm_profile .row {
  display: table; }
.farm_profile [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top; }
.farm_profile .rating {
  margin-bottom: 10px; }
.farm_profile .farm_controls {
  margin: 10px 0 20px 0; }
  .farm_profile .farm_controls #desc-button, .farm_profile .farm_controls #location-button {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 5px 0 0 0;
    background-color: #ccc;
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .farm_profile .farm_controls #desc-button:after, .farm_profile .farm_controls #location-button:after {
      display: none; }
    .farm_profile .farm_controls #desc-button:hover, .farm_profile .farm_controls #desc-button:active, .farm_profile .farm_controls #desc-button.active, .farm_profile .farm_controls #location-button:hover, .farm_profile .farm_controls #location-button:active, .farm_profile .farm_controls #location-button.active {
      background-color: #b3b3b3; }
    .farm_profile .farm_controls #desc-button.active, .farm_profile .farm_controls #location-button.active {
      cursor: default;
      pointer-events: none; }
    .farm_profile .farm_controls #desc-button i, .farm_profile .farm_controls #location-button i {
      font-size: 28px; }
.farm_profile .map_conteiner {
  height: 100%; }
  .farm_profile .map_conteiner #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ddd; }
.farm_profile .desc_container {
  height: 100%; }
  .farm_profile .desc_container #description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: justify;
    overflow: auto; }

#overview tr td:first-of-type {
  min-width: 100px;
  width: 100px; }
#overview tr td:nth-of-type(3), #overview tr td:nth-of-type(5) {
  min-width: 150px;
  width: 150px; }
#overview tr td {
  vertical-align: middle; }
  #overview tr td .remove {
    padding: 2px 0 0 0;
    background-color: transparent;
    color: #b3b3b3; }
    #overview tr td .remove:hover, #overview tr td .remove:active {
      color: #333; }
#overview tr:last-of-type {
  background-color: transparent;
  border-top: 2px solid #ddd;
  font-weight: 600; }

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 10000; }

@media screen and (max-width: 1667px) {
  .col-3x {
    width: 33%; } }
@media screen and (max-width: 1199px) {
  .col-3x {
    width: 50%; } }
@media screen and (max-width: 991px) {
  .col-3x {
    width: 50%; } }
@media screen and (max-width: 767px) {
  .col-3x {
    width: 50%; }

  #category_menu li > a span {
    font-size: 18px; }

  #site-wrapper #site-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
    transition: 300ms ease all;
    backface-visibility: hidden; }
    #site-wrapper #site-canvas header .logo {
      display: block;
      max-height: 80px;
      padding: 20px 0;
      margin: 0 auto; }
    #site-wrapper #site-canvas header .header_controls {
      width: 100%;
      top: 80px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      text-align: center; }
      #site-wrapper #site-canvas header .header_controls .dropdown-menu {
        width: 200px;
        font-size: 12px;
        -moz-transform: translate(-70px, 15px);
        -o-transform: translate(-70px, 15px);
        -ms-transform: translate(-70px, 15px);
        -webkit-transform: translate(-70px, 15px);
        transform: translate(-70px, 15px); }
        #site-wrapper #site-canvas header .header_controls .dropdown-menu .btn {
          font-size: 12px; }
        #site-wrapper #site-canvas header .header_controls .dropdown-menu:before {
          right: 80px; }
    #site-wrapper #site-canvas header #off-canvas-menu {
      display: block;
      padding: 0; }
      #site-wrapper #site-canvas header #off-canvas-menu #site-menu {
        width: 250px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -250px;
        padding: 15px;
        padding-top: 0; }
        #site-wrapper #site-canvas header #off-canvas-menu #site-menu ul {
          padding-top: 20px;
          padding-left: 20px; }
          #site-wrapper #site-canvas header #off-canvas-menu #site-menu ul li {
            display: block;
            margin-bottom: 5px; }
            #site-wrapper #site-canvas header #off-canvas-menu #site-menu ul li a {
              color: #333;
              text-decoration: none;
              font-size: 18px; }
              #site-wrapper #site-canvas header #off-canvas-menu #site-menu ul li a:hover, #site-wrapper #site-canvas header #off-canvas-menu #site-menu ul li a:active {
                color: #fff; }
            #site-wrapper #site-canvas header #off-canvas-menu #site-menu ul li.active a {
              color: #fff; }
    #site-wrapper #site-canvas header #main-menu {
      display: none; }
    #site-wrapper #site-canvas .page {
      padding-top: 180px; }
  #site-wrapper.show-nav {
    position: fixed; }
    #site-wrapper.show-nav #site-canvas {
      transform: translateX(250px);
      transform: translate3d(250px, 0, 0); } }
@media screen and (max-width: 542px) {
  .col-3x {
    width: 100%; }

  #category_menu li > a span {
    top: 30%;
    font-size: 14px; }

  #categories {
    text-align: center;
    width: 100%;
    margin: 10px 0; }
    #categories .itemcategory {
      float: none; }
      #categories .itemcategory:nth-of-type(3) {
        clear: none; }

  .filters .no-padding-left, .filters .no-padding-right, .farm_profile .no-padding-left, .farm_profile .no-padding-right {
    padding: 0; }

  #products {
    text-align: center; }
    #products .product {
      text-align: left;
      max-width: 270px; }

  #farms tr, #overview tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
    #farms tr td, #overview tr td {
      display: block;
      width: 100% !important; }
      #farms tr td .rating, #overview tr td .rating {
        float: none; }

  .farm_profile .row {
    display: initial; }
  .farm_profile [class*="col-"] {
    float: left;
    display: initial; }
  .farm_profile .rating {
    margin-bottom: 10px; }
  .farm_profile .map_conteiner {
    height: 250px; }
    .farm_profile .map_conteiner #map {
      position: realtive; }
  .farm_profile #description {
    text-align: justify; } }
@media screen and (min-width: 1668px) {
  .col-3x {
    width: 25%; } }

/*# sourceMappingURL=style.css.map */
