@mixin vertical-align {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin horizontal-align {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@mixin XY-align {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin border-radius($radius) { 
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin grayscale() {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering*/
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@font-face {
    font-family: segoescript;
    src: url('fonts/segoe-script.ttf');
    src: url('fonts/segoe-script.eot');
    src: url('fonts/segoe-script.woff');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {    
    color: #333;
    font-size: 14px;
    font-family: segoescript;
    background-color: #ccc; 
}

.container-fluid, .row {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none !important;
}

a {    
    color: #669933;
    &:hover, &:active, &:visited {
        color: #568725;
    }
    &.btn.disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: .65;
    }
}

.btn-default {
    border: none;
    @include border-radius(30px);
    width: 100%;
    max-width: 250px;
    background-color: #92C54F; 
    color: #333;
    &:hover:not(:disabled), &:active:not(:disabled) {
        background-color: #669933;
        color: #fff;
    }
    &:visited {
        color: #333;
    }
    &.back, &.next {
        width: auto;
        margin: 20px 5px 0 0;        
    }
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 26px;
}

.no-padding {
    padding: 0;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}

.navbar-toggler {
    padding-left: 0;
    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #333;
    }
    .icon-bar + .icon-bar {
        margin-top: 4px;
    }
    &:hover, &:active {
        .icon-bar {
            background-color: #fff;
        }
    }
}
.show-nav {
    .icon-bar:nth-of-type(1) {
        transform: rotate(45deg) translate(5px, 4px);
    }
    .icon-bar:nth-of-type(2) {
        opacity: 0;
    }
    .icon-bar:nth-of-type(3) {
        transform: rotate(-45deg) translate(4px, -4px);
    }
}

.dropdown-menu {  
    padding: 15px; 
    font-size: 14px;
    @include border-radius(15px);    
    border: none;
    @include box-shadow(0, 5px, 10px, rgba(0, 0, 0, 0.5));                
    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        display: inline-block;
        top: -10px;      
        border-style: solid;
        border-width: 0 25px 25px 25px;
        border-color: transparent transparent #ffffff;                    
    }
}

.img-thumbnail {
    @include border-radius(0);
}

.amount-controls {
    float: right;
    .incr, .decr {
        width: 30px;
        height: 30px;
        padding: initial !important;
        @include border-radius(15px);
        background-color: #ccc;
        margin-left: 2px;
        &:hover:not(:disabled), &:active {
            background-color: #b3b3b3;
        }
    }
}


/******************************************************************************/
/***** COLORS
/******************************************************************************/

.bg-lgreen {
    background-color: #92C54F;
}
.lgreen {
    color: #92C54F;
}

.orange {
    color: #F77D1E;
}

/******************************************************************************/
// HEADER, FOOTER
/******************************************************************************/

header, footer {
    /*    .decor {
            width: 100%;
            height: 50px;        
            background-repeat: repeat-x; 
            background-position: top center;
            background-size: 70%;
        }*/
}

#site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;   
    #site-canvas {
        background-color: #F7F6E4;           
        #off-canvas-menu {
            display: none;
            .navbar-header {
                position: absolute;
                top: 10px;
                left: 15px;               
                z-index: 10000;
            }
        }
        header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;             
            z-index: 1000;
            .logo {
                display: inline-block;            
                max-height: 120px;
                padding: 20px 0;
            }
            .header_controls {              
                @include vertical-align;
                right: 0;
                padding: 20px;
                z-index: 10000;
                #user-button, #cart-button {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    padding: 5px 0 0 0;
                    background-color: #669933;
                    border: 2px solid #fff;
                    @include border-radius(25px);
                    &:after {
                        display: none;
                    }
                    &:hover, &:active {
                        background-color: #568725;
                        color: #fff;
                    }
                    i {
                        font-size: 28px;
                    }
                }            
                #cart-button {
                    .badge {
                        position: absolute;
                        right: -6px;
                        bottom: -6px;
                        display: inline-block;
                        width: 26px;
                        height: 26px;
                        @include border-radius(13px);
                        background-color: #fff;
                        text-align: center;
                        overflow: hidden;
                        color: #333 !important;
                    }
                    &.active {
                        background-color: #F77D1E;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        width: 0;                    
                        background-color: #fff;
                        top: 50%;
                        left: 50%;
                        right: 50%;
                        bottom: 50%;
                        @include border-radius(50%);

                        z-index: -1;
                    }
                    &.added_item {
                        &:before {
                            top: -10%;
                            left: -10%;
                            right: -10%;
                            bottom: -10%;
                            width: 120%;
                            @include border-radius(50%);
                            opacity: 0;
                            @include transition(all, 0.5s, ease-out);
                        }
                    }
                }
                .dropdown-menu {                 
                    width: 250px;     
                    @include transform(translate(-150px, 15px));
                    &:before { 
                        right: 50px;                                        
                    }
                    form {
                        .form-group {
                            margin-top: 25px;
                            &:first-of-type {
                                margin-top: 0;
                            }
                            label {
                                margin-bottom: 0;                            
                                i {
                                    font-size: 20px;
                                }
                                i, span {
                                    vertical-align: middle;
                                }
                            }
                            input {
                                @include border-radius(0px);
                                border: none;
                                padding-left: 0;
                                border-bottom: 1px solid #ddd;
                                font-size: 12px;
                            }                   

                        }   
                        .error {
                            position: absolute;
                            display: block;
                            font-size: 10px;
                            color: red;
                            &.login-error {
                                position: relative;
                                margin-bottom: 1em;
                            }
                        }                      
                        .forgot-pwd {
                            display: block;
                            font-size: 10px;
                            margin: 5px 0 5px 15px;
                        }
                    }
                }
            }

            .header-decor {        
                background-image: url('decor/header_decor.png');        
            }

            #main-menu {  
                display: block;                
                margin-bottom: 10px;
                ul {            
                    li {
                        display: inline;
                        margin: 0 10px;
                        a {
                            font-size: 18px;
                            color: #333;     
                            position: relative;                    
                            &:hover, &:active {
                                color: #fff;
                                text-decoration: none;                        
                            }                        
                        }
                        &.active {
                            a {
                                color: #fff;
                                text-decoration: none;   
                                &:before {                            
                                    background-color: rgba(255, 255, 255, 0.3);                                                  
                                }
                            }
                        }
                    }
                }
            }
        }   
        .page {
            min-height: calc(100vh - 150px);
            padding-top: 220px;
            padding-bottom: 40px;
        }
        footer {            
            z-index: 1000;
            .bottom-bar {                
                padding: 15px 0;
            }
            .footer-decor {       
                background-image: url('decor/footer_decor.png');        
            }
            img {
                max-width: 200px !important;
                margin-bottom: 15px;
            }
            #footer_menu {                
                li {        
                    margin-bottom: 5px;
                    a {
                        color: #333;
                        text-decoration: none;
                        font-size: 14px;
                        &:hover, &:active {
                            color: #fff;
                        }
                    }
                    &.active {
                        a {
                            color: #fff;
                        }
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }  
}



/******************************************************************************/
// CATEGORY MENU
/******************************************************************************/

#category_menu {
    list-style-type: none;
    overflow: hidden;
    padding: 0 0 30px 0;
    li {
        position: relative;
        float: left;
        width: 50%;
        padding-bottom: 50%; 
        @include border-radius(50%);
        & > .bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 1%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            @include border-radius(50%);
            @include transition(background, .1s, ease-in);
        }    
        &:first-of-type {            
            & > .bg {
                background-image: url('decor/mzoldseg.png');
            }
            &:hover > .bg {
                background-color: rgba(159, 238, 0, 0.3);
            }
        }
        &:nth-of-type(2) {
            & > .bg {
                background-image: url('decor/mgyumolcs.png');
            }
            &:hover > .bg {
                background-color: rgba(255, 133, 0, 0.3);
            }            
        }
        &:nth-of-type(3) {
            & > .bg {
                background-image: url('decor/mtejtermek.png');
            }
            &:hover > .bg {
                background-color: rgba(58, 166, 208, 0.3);
            }             
        }
        &:nth-of-type(4) {
            & > .bg {
                background-image: url('decor/mkamra.png');
            }
            &:hover > .bg {
                background-color: rgba(153, 38, 103, 0.3);
            }             
        }
        & > a { 
            outline: none !important;
            span {
                @include horizontal-align;
                top: 33%;
                font-size: 2vw;
            }
        }

    }
}

#labels, #products, #categories  {
    list-style-type: none;        
}

#categories {
    float: right;
    padding-left: 0;
    .itemcategory {
        float: left;
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 2px;
        position: relative;
        @include border-radius(30px);             
        &:nth-of-type(3) {
            clear: left;
        }
        a {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;            
            @include border-radius(30px);
            background-color: #ccc; 
            color: #333 !important;
            span {
                display: block;
                width: 100%;
                text-align: center;
                @include vertical-align;
                font-size: 10px;
            }
            &:hover, &:active {
                background-color: #b3b3b3; 
            }
        }
        &.active:first-of-type a {
            background-color: rgba(159, 238, 0, 0.3);
        }
        &.active:nth-of-type(2) a {
            background-color: rgba(255, 133, 0, 0.3);
        }
        &.active:nth-of-type(3) a {
            background-color: rgba(58, 166, 208, 0.3);
        }
        &.active:nth-of-type(4) a {
            background-color: rgba(153, 38, 103, 0.3);
        }
    }
}    

.labels {
    padding-left: 0;    
    .itemlabel {
        display: inline-block;
        margin-top: 5px;
        margin-right: 10px;
        &:last-of-type {
            margin-right: 0;
        }
        &:hover, &:active, &.active {
            color: #F77D1E;
            cursor: pointer;
        }
        &.active {
            pointer-events: none;
            cursor: default;
        }
    }
}

.filters {
    margin-top: 20px;
    #region_select, #farm_select {
        @include border-radius(17px 0 0 17px);
        border: 1px solid #333;
        &:focus {
            border-color: #000;
        }
    }
}

#products {
    padding: 20px 0 40px 0;
    .product {    
        display: inline-block;
        vertical-align: top;
        position:relative;
        margin: 0;
        cursor:default; 
        @include border-radius(15px);
        background-image: url('decor/item-decor.png');
        background-repeat: no-repeat;
        background-size: contain; 
        background-origin: content-box;
        overflow: hidden;
        padding: 10px;        
        .aspect {
            display: block;
            position: relative;   
            padding-bottom: 100%;
            .content {
                position:absolute;
                @include vertical-align;
                left: 10%;
                right: 10%;
                .img-wrapper {
                    width: 100%;
                    height: 80px;
                    position: relative;
                    margin-bottom: 5px;
                    img {
                        max-height: 80px;
                        @include vertical-align;
                    }                    
                }
                a {
                    display: block;
                    margin-bottom: 5px;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .price {                    
                    margin-bottom: 5px;
                }
                .amount {
                    float: right;
                }
                .button-wrapper {
                    margin-top: 5%;
                    .addtocart {
                        width: 60%;
                        height: 30px;
                        padding: 4px 0;  
                        text-transform: uppercase;
                    }                    
                }

            }
        }
        .check {
            position: absolute;
            top: 0;
            right: 0;
            color: #669933;
            display: none;
        }
        &:hover {
            background-color: #fff;
            background-clip: content-box;
        }
        &.in_cart {
            background-image: url('decor/item-decor-orng.png');            
        }
        &.in_cart {
            .check {
                display: block;
            }
        }
    }
} 

#farms {    
    margin-top: 20px;
    tr {
        td {
            vertical-align: middle;
            &:first-of-type {
                min-width: 120px;
                width: 120px;
            }
            &:last-of-type {
                min-width: 225px;
            }
            a {
                font-size: 16px;
                &:hover {
                    text-decoration: none;
                }
            }
            .rating {
                float: right;
                .number_of_ratings {
                    display: inline-block;
                    width: 50px;                    
                }

            }
        }
    }
}

.farm_profile {
    .row {
        display: table;
    }
    [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
    .rating {
        margin-bottom: 10px;
    }
    .farm_controls {        
        margin: 10px 0 20px 0;
        #desc-button, #location-button {
            position: relative;
            width: 40px;
            height: 40px;
            padding: 5px 0 0 0;
            background-color: #ccc;
            border: none;
            @include border-radius(20px);
            &:after {
                display: none;
            }
            &:hover, &:active, &.active {
                background-color: #b3b3b3;            
            }
            &.active {
                cursor: default;
                pointer-events: none;
            }
            i {
                font-size: 28px;
            }
        }  
    }
    .map_conteiner {        
        height: 100%;
        #map {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid #ddd;
        }
    }
    .desc_container {
        height: 100%;       
        #description {     
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: justify;
            overflow: auto;
        }
    }
}

#overview {
    tr {
        td:first-of-type {
            min-width: 100px;
            width: 100px;
        }
        td:nth-of-type(3), td:nth-of-type(5) {
            min-width: 150px;
            width: 150px;
        }
        td {
            vertical-align: middle;
            .remove {
                padding: 2px 0 0 0;
                background-color: transparent;
                color: #b3b3b3;
                &:hover, &:active {
                    color: #333;
                }
            }
        }
        &:last-of-type {
            background-color: transparent;
            border-top: 2px solid #ddd;
            font-weight: 600;
        }
    }
}

#spinner {
    @include XY-align;
    position: fixed;
    z-index: 10000;    
}

@media screen and (max-width: 1667px) {
    .col-3x {
        width: 33%;        
    }    
}

@media screen and (max-width: 1199px) {
    .col-3x {
        width: 50%;       
    }   
}
@media screen and (max-width: 991px) {   
    .col-3x {
        width: 50%;       
    }  
}
@media screen and (max-width: 767px) { 
    .col-3x {
        width: 50%;        
    }   
    #category_menu {       
        li {
            & > a {                 
                span {                   
                    font-size: 18px;
                }
            }
        }
    }
    #site-wrapper {
        #site-canvas {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateX(0);
            transform: translate3d(0, 0, 0);
            transition: 300ms ease all;
            backface-visibility: hidden; 
            header {               
                .logo {
                    display: block;            
                    max-height: 80px;
                    padding: 20px 0;
                    margin: 0 auto;
                }
                .header_controls {     
                    width: 100%;
                    top: 80px;
                    @include horizontal-align;
                    text-align: center;
                    .dropdown-menu { 
                        width: 200px;
                        font-size: 12px;
                        .btn {
                            font-size: 12px;
                        }
                        @include transform(translate(-70px, 15px));                               
                        &:before {                       
                            right: 80px;                                     
                        }
                    }
                }
                #off-canvas-menu {
                    display: block;
                    padding: 0;
                    #site-menu {        
                        width: 250px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: -250px;                        
                        padding: 15px;
                        padding-top:0;
                        ul {            
                            padding-top: 20px;
                            padding-left: 20px;                            
                            li {
                                display: block;
                                margin-bottom: 5px;
                                a {
                                    color: #333;
                                    text-decoration: none;
                                    font-size: 18px;
                                    &:hover, &:active {
                                        color: #fff;
                                    }
                                }
                                &.active {
                                    a {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
                #main-menu {
                    display: none;
                }
            }
            .page {
                padding-top: 180px;
            }

        }
        &.show-nav {
            position: fixed;
            #site-canvas {
                transform: translateX(250px);
                transform: translate3d(250px, 0, 0);
            }
        }
    }   
}

@media screen and (max-width: 542px) {   
    .col-3x {
        width: 100%;        
    }  
    #category_menu {       
        li {
            & > a {                 
                span {  
                    top: 30%;
                    font-size: 14px;
                }
            }

        }
    }
    #categories { 
        text-align: center;
        width: 100%;
        margin: 10px 0;        
        .itemcategory {                 
            &:nth-of-type(3) {
                clear: none;
            }
            float: none;
        }
    }   
    .filters, .farm_profile {
        .no-padding-left, .no-padding-right {
            padding: 0;
        }
    }    
    #products {
        text-align: center;
        .product {
            text-align: left;
            max-width: 270px;
        }
    }
    #farms, #overview {
        tr {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            td {
                display: block;
                width: 100% !important;                
                .rating {
                    float: none;
                }
            }
        }
    }    
    .farm_profile {
        .row {
            display: initial;
        }
        [class*="col-"] {
            float: left;
            display: initial;          
        }
        .rating {
            margin-bottom: 10px;
        }        
        .map_conteiner {       
            height: 250px;
            #map {
                position: realtive;               
            }
        }
        #description {      
            text-align: justify;
        }
    }
}

@media screen and (min-width: 1668px) {
    .col-3x {
        width: 25%;        
    }    
}
