<div class="btn-group cart_wrapper" uib-dropdown>
    <button id="cart-button" type="button" uib-dropdown-toggle ng-disabled="disabled" ng-class="root.cart.pcs > 0 ? 'active' : ''" class="btn">
        <i class="material-icons">shopping_basket</i>
        <span class="badge">{{ root.cart.pcs}}</span>
    </button>
    <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="cart-button" ng-click="innerClick($event)">
        <div id="cart">    
            <p>{{ root.cart.pcs}} termék</p>
            <p>összesen: <span class="orange">{{ root.cart.total}} Ft</span></p>
            <p><a href="#overview" id="paybutton" ng-hide="root.cart.pcs < 1" class="btn btn-default">tovább a fizetéshez</a></p>
        </div>
    </div>
</div>

