<h2>{{ farm.title}}</h2>
<label class="checkbox-inline"><input type="checkbox" ng-model="farm.sortDir" ng-change="farm.change()"> legnépszerűbb elöl</label>
<div class="table-responsive">
    <table id="farms" class="table table-striped">
        <tr ng-repeat="f in farm.farms| toArray | orderBy:farm.sortVal:farm.sortDir">
            <td><img src="images/farm/{{f.filename}}" alt="" class="img-fluid img-thumbnail" /></td>
            <td><a href="#farm/{{ f.id}}">{{ f.name}} </a></td>
            <td><farm-rating></farm-rating></td>  
        </tr>
    </table>
</div>
