<div class="farm_profile" ng-repeat="f in farm.farms">
    <h3>{{ f.name}}</h3>
    <p>{{ f.regionname}}</p>
    <farm-rating></farm-rating>
    <div class="row">
        <div class="col-xs-12 col-sm-5 no-padding-left">
            <img src="images/farm/{{f.filename}}" alt="" class="img-fluid img-thumbnail" />    
            <div class="farm_controls">
            <button id="location-button" type="button" ng-click="farm.togglePanel();" ng-class="farm.showMap ? 'active' : '';" class="btn">
                <i class="material-icons" ng-click="">map</i>
            </button> 
            <button id="desc-button" type="button" ng-click="farm.togglePanel();" ng-class="!farm.showMap ? 'active' : '';" class="btn">
                <i class="material-icons">description</i>
            </button>                
        </div>
        <h5>Termékek:</h5>
        <ul class="labels">   
            <li class="itemlabel" ng-repeat="p in f.products">
                <span ng-click="farm.setProductFilter(p.category_id, p.region_id, p.farm_id, p.label);">{{ p.label}}</span>
            </li>
        </ul> 
        </div>
        <div class="col-xs-12 col-sm-7 no-padding-right">
            <div class="map_conteiner">
                <div id="map" ng-show="farm.showMap"></div>
            </div>
            <div class="desc_container">
                <div id="description" ng-show="!farm.showMap">{{ f.description}}</div> 
            </div>
        </div>
    </div>  
</div>
<back-button></back-button>