<ul class="nav navbar-nav">
    <li ng-class="{'active': root.currentMenuItem === 'products'}">
        <a href="#products" off-canvas-menu ng-click="nav.setCurrentMenuItem('products');">termékek</a>
    </li>  
    <li ng-class="{'active': root.currentMenuItem === 'farms'}">
        <a href="#farms" off-canvas-menu ng-click="nav.setCurrentMenuItem('farms');">gazdaságok</a>
    </li>
    <li ng-class="{'active': root.currentMenuItem === 'about'}">
        <a href="#about" off-canvas-menu ng-click="nav.setCurrentMenuItem('about');">rólunk</a>  
    </li>   
</ul>