<h2>{{cart.title}}</h2>
<div class="table-responsive">
    <table id="overview" class="table table-striped">   
        <tr ng-repeat="p in root.cart.products">
            <td>
                <img src="{{ root.base}}images/product/{{ p.cover}}" class="img-responsive img-thumbnail" />
            </td>
            <td>
                <a href="#product/{{p.id}}">{{p.name}}</a><br>
                <a href="#farm/{{ p.farm_id}}">{{ p.farmname}}</a>
            </td>
            <td>{{ p.amount}} db 
                <div class="amount-controls">
                    <button class="btn decr" ng-click="cart.modifyCart(p.id, -1)" ng-disabled="p.amount <= 1">-</button><button class="btn incr" ng-click="cart.modifyCart(p.id, 1)">+</button>
                </div>                
            </td>
            <td><button class="btn remove" ng-click="cart.removeFromCart(p.id)"><i class="material-icons">delete</i></button></td>
            <td>{{ p.amount * p.price}} Ft</td>
        </tr>
        <tr>
            <td>Total:</td>
            <td colspan="3"></td>
            <td>{{ root.cart.total}} Ft</td>
        </tr>
    </table>
</div>

<back-button></back-button>
<button type="button" class="btn btn-default next" ng-click="root.go('/delivery');" ng-disabled="!root.isLoggedIn">tovább</button> <div class="hidden-sm-up"></div><span ng-if="!root.isLoggedIn">(A továbblépéshez jelentkezz be.)</span>