
<div class="row">
    <div class="col-xs-12 col-sm-8 no-padding">
        <h2>{{ product.title}}</h2>
        <h3>{{ product.category_name}}</h3>
        <!-- product labels -->
        <ul id="labels" class="labels">
            <li ng-class="{'active': product.labelFilter === ''}" class="itemlabel">
                <span ng-click="product.setLabelFilter('');">minden</span>
            </li>
            <li ng-repeat="l in product.labels" ng-class="{'active': l.label === product.labelFilter}" class="itemlabel">
                <span ng-click="product.setLabelFilter(l.label);">{{ l.label}}</span>
            </li>
        </ul>
    </div>
    <!-- product category selector -->
    <div class="col-xs-12 col-sm-4 no-padding">
        <ul id="categories">
            <li ng-repeat="c in root.categories" ng-class="{'active': product.category_id == c.id}" class="itemcategory">
                <a href="" ng-click="product.selectCategory(c.id);"><span>{{ c.name}}</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="row filters">
    <!-- region filter -->
    <div class="col-xs-12 col-sm-6 no-padding-left">            
        <div class="form-group form-group-sm">
            <select id="region_select" ng-model="product.regionFilter" ng-change="product.setRegionFilter();" class="form-control form-control-sm">
                <option value="">minden</option>
                <option ng-repeat="r in root.regions" value="{{ r.id}}">{{ r.name}}</option>
            </select>
        </div>            
    </div>
    <!-- farm filter -->
    <div class="col-xs-12 col-sm-6 no-padding-right">
        <div class="form-group form-group-sm">
            <select id="farm_select" ng-model="product.farmFilter" ng-change="product.setFarmFilter();" class="form-control form-control-sm">
                <option value="">minden</option>
                <option ng-repeat="f in product.farms| filter: { region_id: regionFilter||undefined } : true" value="{{ f.id}}">{{ f.name}}</option>
            </select>
        </div>
    </div>       
</div>


<div class="row">    
    <ul id="products" ng-init="count = 1"> 
        <product-list-item ng-repeat="p in product.products| filter:{ label: product.labelFilter||undefined } :true | filter: { region_id: product.regionFilter||undefined} : true | filter: {farm_id: product.farmFilter||undefined } : true"><product-list-item>
    </ul>
</div>
