<div ng-repeat="f in farm.farms">
    <h3>{{ f.name}}</h3>
    <p>{{ f.regionname}}</p>
    <farm-rating></farm-rating>
    <div>
        <img src="images/farm/{{f.filename}}" alt="" class="img-responsive" />
    </div>
    <div id='map' style="height: 300px;"></div>
    <div class="description">{{ f.description}}</div>
    <ul class="labels">   
        <li class="itemlabel" ng-repeat="p in f.products">
            <span ng-click="farm.setProductFilter(p.category_id, p.region_id, p.farm_id, p.label);">{{ p.label}}</span>
        </li>
    </ul>    
</div>
<a href="" back>back</a>