<div class="rating">    
    <span ng-repeat="n in []| range:5" class="stars">
        <i class="material-icons">{{ n < farm.Math.round(f.rating) ? 'star' : 'star_border'}}</i>            
    </span>
    <span class="number_of_ratings">({{f.ratings_number}})</span>
</div>