<ul id="category_menu">
    <li ng-repeat="c in root.categories" id="{{ c.id}}">        
        <a href="" class="bg" ng-click="home.selectCategory(c.id)"><span>{{ c.name}}</span></a>
    </li>
</ul>