<div class="btn-group login_wrapper" uib-dropdown>
    <button id="user-button" type="button" uib-dropdown-toggle ng-disabled="disabled" ng-click="identity.dropDown()" class="btn">
        <i class="material-icons">person</i>
    </button>
    <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="user-button" ng-click="identity.innerClick($event)">
        <div id="login">
            <form name="loginform" ng-submit="identity.login()" ng-hide="root.isLoggedIn" novalidate>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="email"><i class="material-icons">mail_outline</i> <span>e-mail</span></label>
                    <input type="email" id="email" class="form-control" name="email" ng-model="identity.email" focusme="focussed" required/>      
                    <span class="error" ng-show="loginform.email.$dirty && loginform.email.$error.required">email is required.</span>
                    <span class="error" ng-show="loginform.email.$dirty && loginform.email.$error.email">invalid email address.</span>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="password"><i class="material-icons">lock_outline</i> <span>jelszó</span></label>
                    <input type="password" id="password" class="form-control" name="password" ng-model="identity.password" required/>        
                    <span class="error" ng-show="loginform.password.$dirty && loginform.password.$error.required">password is required.</span>             
                </div>   
                <span class="error login-error">{{ identity.error}}</span>
                <button type="submit" id="loginbutton" ng-disabled="loginform.email.$invalid || loginform.password.$invalid" class="btn btn-default">bejelentkezem</button>
                <a class="forgot-pwd" href="#">elfelejtett jelszó</a>
                <a href="#" id="regbutton" ng-hide="root.isLoggedIn" class="btn btn-default">regisztrálok</a>
            </form>
            <p ng-show="root.isLoggedIn">Bejelentkezve: <span class="orange">{{ root.user}}</span></p>
            <button type="button" id="logoutbutton" ng-click="identity.logout()" ng-show="root.isLoggedIn" class="btn btn-default">kijelentkezem</button>
        </div>
    </div>
</div>

