<h3>Overview</h3>
<table>   
    <tr ng-repeat="p in root.cart.products">
        <td>
            <a href="#product/{{p.id}}">{{p.name}}</a><br>
            <a href="#farm/{{ p.farm_id }}">{{ p.farmname }}</a>
        </td>
        <td>{{ p.amount }} db <button class="decr" ng-click="cart.modifyCart(p.id, -1)" ng-disabled="p.amount<=1">-</button><button class="incr" ng-click="cart.modifyCart(p.id, 1)">+</button></td>
        <td><button class="remove" ng-click="cart.removeFromCart(p.id)">remove</button></td>
        <td>{{ p.amount * p.price }} Ft</td>
    </tr>
</table>
<b>Total: {{ root.cart.total}} Ft</b><br>
<a href="#delivery">next</a>
<a href="#products">back</a>