<li ng-class="product.checkIfInCart(p) ? 'in_cart' : ''" class="product col-3x">
    <div class="aspect">
        <div class="content">
            <div class="img-wrapper">
                <img src="{{ root.base}}images/product/{{ p.cover}}" class="img-responsive" alt="" />
            </div>
            <a href="#product/{{p.id}}">{{ p.name}}</a>
            <a href="#farm/{{ p.farm_id}}">{{ p.farmname}}</a>
            <span class="price">{{ p.price}} Ft / {{ p.measure}}</span>
            <span class="amount">({{count}})</span>
            <div class="button-wrapper">
                <button class="addtocart btn btn-default" ng-click="product.addToCart({'product': p, 'amount': count}); count = 1;">kosárba</button>
                <div class="amount-controls">
                    <button class="btn decr" ng-click="count = count - 1" ng-disabled="count <= 1">-</button><button class="btn incr" ng-click="count = count + 1">+</button>
                </div>
            </div>
        </div>
    </div>
    <i class="material-icons check">done</i>
</li>