<div ng-repeat="p in product.products">
    <h3>{{ p.name}}</h3>
    <p><img src="{{ root.base}}images/product/{{ p.cover}}" alt="" /></p>
    <p><a href="#farm/{{ p.farm_id}}">{{ p.farmname}}</a></p>
    <p>{{ p.price}} Ft / {{ p.measure}}</p>    
</div>
<a href="" back>back</a>